/* @import url('./font.arvo.400.woff2'); */
/* @import url('./font.arvo.700.woff2'); */
@font-face {
  font-family: "Arvo";
  src: local("Arvo"), url("./font.arvo.400.woff2") format("woff2");
  font-style: normal; 
  font-weight: 400;
  font-display: optional;
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; 
}
@font-face {
  font-family: "Arvo";
  src: local("Arvo Bold"), local("Arvo-Bold"), 
  url("./font.arvo.700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: optional;
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Arvo";
  src: local("Arvo Bold"), local("Arvo-Bold"), 
  url("./font.arvo.700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: optional;
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("font.montserrat.700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: optional;
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* @font-face {
  font-family: "Arvo";
  src: url("https://fonts.gstatic.com/s/arvo/v10/tDbD2oWUg0MKqScQ7Z7o_vo.woff2") format("woff2");
  font-style: normal; 
  font-weight: 400; 
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; 
}
@font-face {
  font-family: "Arvo";
  src: local("Arvo Bold"), local("Arvo-Bold"), 
  url("https://fonts.gstatic.com/s/arvo/v10/tDbM2oWUg0MKoZw1-LPK89D4hAA.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_dJE3gnD_vx3rCs.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
} */
